.container {
  margin-top: 1rem;
  background: lime;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10rem;
  padding: 0 4rem;
}
.logo {
  flex: 1;
  background: white;
  text-transform: uppercase;
  color: lime;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 10%;
  margin: 1rem;
}
.container h3 {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline;
}
.container li {
  list-style: none;
  margin: 5px 0;
}

.social {
  flex: 2;
}
.cat {
  flex: 2;
}

.socialLinks li a {
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 1s;
}

.socialLinks li a span:last-child {
  margin: 0 1rem;
}
.catLink li {
  transition: all 1s;
  text-transform: uppercase;
  font-weight: 500;
}
.socialLinks li a:hover,
.catLink li:hover {
  font-size: 1.1rem;
}

.catLink li {
  transition: all 1s;
  text-transform: uppercase;
  font-weight: 500;
}
/* Smartphone */
@media (max-width: 600px) {
  .container {
    height: auto;
    flex-direction: column;
  }
  .logo {
    flex: 1;
    width: 80%;
    padding: 0.4rem;
  }
  .cat {
    flex: 1;
  }
  .social {
    flex: 1;
  }
}

/* Tablet */

@media (min-width: 601px) and (max-width: 768px) {
  .container {
    height: auto;
  }
}
