.product-page{
    width: 100%;
    display: flex;
    .product-page-container{
        h3{
            color: lime;
            font-size: 2rem;
        }
        flex: 6;
        .top, .center, .bottom, .productList{
            box-shadow: 2px 4px 10px 1px rgba(168, 167, 167, 0.219) !important;
            padding: 0.5rem;
            margin: 1rem;
            display: flex;
           


            .left{
                flex: 1;
                text-align: center;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                    object-fit: cover;
                }
            }
            .right{
                flex: 2;
                form{
                    display:flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    font-size: 1.3rem;
                    .formInput{
                        width: 40%;
                        margin: 1rem 0;
                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                        input, textarea, select{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid lime;
                            &:focus{
                                outline: none;
                              }
                        }
                    }
                    button{
                        width: 500px;
                        height: 50px;
                        font-size: 1.4rem;
                        padding: 2px;
                        cursor: pointer;
                        border: none;
                        background: lime;
                        color: white;
                        border-radius: 10px;
                        transition: all 2s;
                        &:hover{
                            background: green;
                        }
                    }
                }
            }
        }
       
    }
}