.product-page{
    width: 100%;
    display: flex;
    .product-page-container{
        h3{
            color: lime;
            font-size: 2rem;
        }
        flex: 6;
        .top, .center, .bottom, .productList{
            box-shadow: 2px 4px 10px 1px rgba(66, 66, 66, 0.27);
            padding: 0.5rem;
            margin: 1rem;
            display: flex;
           
        }
        .customer-table{
            box-shadow: 2px 4px 10px 1px rgba(66, 66, 66, 0.27);
            width: 95%;
            margin: auto;
        }
       
    }
}